/* لتعديل خصائص الشريط */
#custom-slider::-webkit-scrollbar {
    width: 4px; /* تحديد عرض الشريط */
  }
  
  #custom-slider::-webkit-scrollbar-thumb {
    background-color: #343839; /* لون الشريط */
    border-radius: 80px; /* نصف القطر */
    opacity: 1; /* الشفافية */
  }
  
  #custom-slider::-webkit-scrollbar-track {
    background-color: #E8ECEF; /* خلفية شفافة */
  }
  
  #custom-slider {
    overflow-y: auto; /* إظهار الشريط العمودي */
    overflow-x: hidden; /* إخفاء الشريط الأفقي */
  }