@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-line {
    border: 0;
    border-left: 3px solid #000; /* سمك ولون الخط */
    height: 200px; /* الطول */
    margin: 0 auto; /* لمركزة الخط */
  }

  @layer base {
    body {
      @apply font-Rajdhani font-bold;
    }
  }
  @layer utilities {
  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 10s linear infinite;
  }
}
